.viewer-backdrop {
  // background-color: rgba(25, 100, 125, 0.239) !important;
}
.viewer-button {
  background-color: #7dc8e1 !important;
}
.viewer-tooltip {
  background-color: #7dc8e1 !important;
}
.viewer-title {
  color: #7dc8e1 !important;
  display: none !important;
}
.viewer-toolbar > ul > li {
  background-color: #7dc8e17c !important;
}
.viewer-toolbar > ul > li:hover {
  background-color: #7dc8e1 !important;
}
.viewer-navbar {
  background-color: #7dc8e15d !important;
}